<nav class="navbar navbar-expand navbar-light ">
    <a 
      class="navbar-brand mx-3" 
      routerLink="/"
      routerLinkActive="active" 
      [routerLinkActiveOptions]="{exact: true}">
        Max
    </a>

    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a 
          routerLinkActive="active" 
          routerLink="/hit"
          class="nav-link">Hit
        </a>
      </li>
      <li class="nav-item">
        <a 
          routerLinkActive="active" 
          routerLink="/food"  
          class="nav-link">Food
        </a>
      </li>
      <li class="nav-item">
        <a 
          routerLinkActive="active" 
          routerLink="/angular"  
          class="nav-link"
          [routerLinkActiveOptions]="{exact: true}">Angular          
        </a>
      </li>
    </ul>
    
    <app-login></app-login>
</nav>
<app-breadcrumb>
</app-breadcrumb>
