<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Calculator</h1>
            <p class="text-small"> Calculate your required hit-rating based on your gear, talents, and raidcomposition</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-infobox
              [title]="'Quickguide: hit'"
              [content]="{desc: 'test', list: ['bla bla',
                                'blub blub',
                                'ping pong',
                                'ding dong',
                                'ching chong',
                                'pling plong'                  ]                }"
              >
            </app-infobox>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
           <app-hit-app></app-hit-app>


        </div>

    </div>


</div>
