<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Calculator</h1>
            <p class="text-small"> Calculate your required hit-rating based on your gear, talents, and raidcomposition</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="collapsable">
                collapsable
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            Hit app
            <div class="row">
                <div class="col-12">
                    Run
                </div>
                <div class="row">
                    <div class="col-12">
                        Result
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</div>
